.carousal{
    width: 100%;
}

.carousalItem {
    width: 100%;
    height: 400px;
    border-radius: 8px;
    overflow: hidden;
}

.carousalItem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.placeOrderBtn {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.placeOrderBtn button {
    width:233px;
    height:50px;
    background-color: #CE0505;
    border: none;
    font: normal normal medium 18px/27px Poppins;
    color: #fff;
    border-radius: 6px;
    /* box-shadow: none; */
}

.btn-close {
    margin-top: -25px !important;
    margin-right: 20px !important;
}

.modalTitle {
    margin-top:20px; 
    font: normal normal 600 30px/46px Poppins;
    color:#192F60;
}

.modal-dialog {
    display: flex;
    justify-content: center;
}

.modal-header {
    padding-left: 58px;
}

.modal-content {
    min-width: 700px;
}

.modal-body {
    padding: 0;
}

.square {
    position: relative;
    width: 16px;
    height: 16px;
    border: solid 1px #048002;
}

.vegCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: #048002;
}

.foodName {
    font-size: 18px;
    font-weight: 500;
    color: #292C40;
    padding-top: 10px;
    margin-bottom: 2px;
}

.foodCost {
    font-size: 17px;
    font-weight: 400;
    color: #292C40;
    margin-bottom: 0;
}

.foodDisc {
    font-size: 13px;
    /* font-weight: 300; */
    color: #696B78;
    max-width: 360px;
}

.modalBodyRow {
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
    margin-right: 60px;
    padding: 25px 0 5px 0;
    border-bottom: 2px solid #B4B5BC;
}

.container div:nth-child(3) {
    border-bottom: none;
}

.payBtn {
    width:155px;
    height:50px;
    background-color: #CE0505; 
    text-align: center; 
    font-weight: 800; 
    padding: 11px 0px; 
    color: white; 
    font: normal normal medium 18px/27px Poppins; 
    display: inline-block; 
    text-decoration: none;
    border-radius:6px;
    border: none;    
}

.imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    width: 100px;
    padding: 0;
    padding-bottom: 5px;
}

.imgContainer img{
    width: 92px;
    height: 92px;
    object-fit: cover;
}

.imgContainer > div {
    display: flex;
    justify-content: center;
}

.imgContainer .addButton {
    text-align: center;
    font-size: 16px;
    border: none;
    color: green;
    width: 71px;
    height: 29px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}

.buttonCont {
    display: none;
    padding: 0 8px;
    justify-content: space-between;
    width: 71px;
    height: 29px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}

.buttonCont button {
    border: none;
    background-color: transparent;
    color: green;
    font-size: 25px;
    margin-top: -6px;
}

.buttonCont p {
    margin-top: 4px;
    font-size: 15px;
}

.subTotal, .proceed {
    height: 80px;
    background-color: #F5F8FF;
    padding-top: 15px;
}

.subTotal div p:first-child {
    padding-left: 45px;
    padding-top: 7px;
    font: normal normal bold 22px/33px Poppins;
    color: #292C40;
}

.subTotal div:last-child {
    padding-right: 10px;
}

.subTotal div p:last-child {
    padding-top: 7px;
    font: normal normal 600 22px/33px Poppins;
    color: #292C40;
}

.proceedModalBodyRow {
    padding-left: 60px;
    padding-right: 60px;
    /* text-align: left; */
}

.proceedModalBodyRow input, textarea, input::placeholder, textarea::placeholder {
    font: normal normal normal 16px/25px Poppins;
    color: #B4B5BC;
}

.proceedModalBodyRow input, textarea {
    color: black;
}

.proceedModalBodyRow input, textarea {
    border: 1px solid #CACFD8;
    border-radius: 2px;
}

.proceedModalBodyRow label {
    margin-left: -12px;
    margin-bottom: 5px;
    font: normal normal normal 16px/25px Poppins;
    color: #192F60;
}

.proceedModalBodyRow input {
    margin-bottom: 28px;
    height: 50px;
}

.proceedModalBodyRow textarea {
    height: 178px;
    margin-bottom: 50px;
}

.proceed div {
    display: flex;
    justify-content: end;
    padding-right: 60px;
}

.mb-3 button {
    font: normal normal 600 18px/27px Poppins;
    color: #192F60;
}

.tabOne, .tabTwo {
    color: #192F60;
}

.tabOne h2 {
    padding-top: 15px;
    padding-bottom: 20px;
    font: normal normal 600 22px/33px Poppins;
}

.tabOne h4, .tabTwo h4 {
    font: normal normal 600 18px/27px Poppins;
}

.tabTwo h5 {
    padding-top: 15px;
    font: normal normal 18px/27px Poppins;
}

.tabOne p, .tabTwo p {
    font: normal normal normal 400 15px/30px Poppins;
}

.tabTwo .mobNum {
    color: #F67082;
}